.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background-color: white;
	border-bottom: 1px solid var(--bs-gray-200);
	padding: 0 0.75rem;
	height: $header-height;
	z-index: 1;
}

.menu-icon-btn {
	background: none;
	border: none;
	border-radius: 50%;
	width: 44px;
	height: 44px;

	&:hover {
		background-color: var(--bs-gray-200);

		.menu-icon {
			color: var(--bs-gray-800);
		}
	}

	.menu-icon {
		vertical-align: top;
		font-size: 1.75rem;
		color: var(--bs-gray-600);
	}
}

.user-info .dropdown-toggle::after {
	display: none;
}

.user-link {
	text-decoration: none;
}

.user-box {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.user-avatar {
	width: 40px;
	height: 40px;
}

.user-text {
	color: var(--bs-gray-600);
}
